RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://solutions.diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://solutions.diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tienda.diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tienda.diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.solutions.diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.solutions.diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tienda.diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tienda.diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://solutions.diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://solutions.diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tienda.diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tienda.diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.solutions.diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.solutions.diplopac.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tienda.diplopac.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tienda.diplopac.com$      [NC]
RewriteRule .*\.()$ - [F,NC]

